/* ----------------------------------------------------------------------------
 * Font
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Archivo+Black&display=swap');

/* ----------------------------------------------------------------------------
 * Base
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  background: #fafafa;
}
html,
body {
  height: 100%;
}
html {
  overflow-x: hidden;
}
@media (max-width: 480px) {
  body{
    font-size: 14px;
  }
}
a {
  color: #d5000d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}

/* ----------------------------------------------------------------------------
 * Content
 */
.content p,
.content ul,
.content h1,
.content h2 {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content h1,
.content h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-family: "Archivo Black", sans-serif;
}
.content .main-title {
  font-size: 2.5rem;
  text-align: left;
}
.content h1,
.content h2 {
  padding-top: 80px;
}
.content h1:before,
.content h2:before {
  display: block;
  content: '';
  background: -webkit-gradient(linear, left top, right top, color-stop(0.8, #dfe2e7), color-stop(1, rgba(223,226,231,0)));
  background: -webkit-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
  background: -moz-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
  background: -o-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
  background: -ms-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
  background: linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
  height: 1px;
  position: relative;
  top: -40px;
  left: -40px;
  width: 100%;
}
.content ul > li {
  list-style-type: disc;
}
.content ol > li {
  list-style-type: decimal;
}
.content ul,
.content ol {
  margin-left: 20px;
}
.content ul > li {
  position: relative;
}
.content li > :first-child {
  padding-top: 0;
}
.content code {
  font-family: monospace;
  background: #dedede;
  padding: 2px;
  font-size: 0.9em;
}
.content strong,
.content b {
  font-weight: bold;
}
.content i,
.content em {
  font-style: italic;
}
.content-root {
  min-height: 90%;
  position: relative;
}
.content {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  zoom: 1;
  max-width: 700px;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content h1 + p,
.content h2 + p,
.content h1 ul,
.content h2 ul {
  padding-top: 10px;
}
.content h1:first-child {
  padding-top: 0;
}
.content h1:first-child:before {
  display: none;
}
@media (max-width: 480px) {
  .content {
    padding: 20px;
    padding-top: 40px;
  }
}

/* ----------------------------------------------------------------------------
 * Header
 */
.header {
  border-bottom: solid 1px #dfe2e7;
  padding: 15px 30px;
  zoom: 1;
  line-height: 35px;
  position: relative;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header .left {
  float: left;
}
.header .right {
  text-align: right;
  position: absolute;
  right: 15px;
  top: 15px;
}
.header .right iframe {
  display: inline-block;
  vertical-align: middle;
}
.header img {
  float: left;
}
.header ul,
.header li {
  display: block;
  float: left;
}
.header li:last-child {
  border-right: 0;
}
.header li:first-child {
  border-left: 0;
}
.header li a {
  padding: 0 15px;
}
@media (max-width: 580px) {
  .right {
    display: none;
  }
}

/* ----------------------------------------------------------------------------
 * Sidebar
 */
.menubar {
  text-rendering: optimizeLegibility;
}
.menubar .section {
  padding: 30px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 680px) {
  .menubar {
    display: none;
  }
}
@media (min-width: 680px) {
  .content-root {
    padding-left: 230px;
  }
  .menubar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    border-right: solid 1px #dfe2e7;
  }
  .menubar.fixed {
    position: fixed;
    overflow-y: auto;
  }
  .menubar.fixed {
    -webkit-overflow-scrolling: touch;
  }
}
.menubar {
  font-size: 0.9em;
}
.menu ul.level-1 > li + li {
  margin-top: 10px;
}
.menu a {
  padding: 4px;
}
.menu a:hover {
  text-decoration: none;
  color: #fafafa;
  background-color: #d5000d;
  border-radius: 2px;
}
